 <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/imgs/login.png" alt="" width="72" height="72">
        <h1 class="display-5 fw-bold text-body-emphasis">LOGIN</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Welcome <%= name %>! You have logged via <%= secure %></p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <form method="get">

                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3" fdprocessedid="m3ygpr" formaction="/home">Blog</button>
                    <button type="submit" class="btn btn-outline-secondary btn-lg px-4"
                        fdprocessedid="ceugqa" formaction="/">Home</button>
                </form>
            </div>
        </div>
    </div>